*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body{
  background: #080808;
}

nav{
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: #fff;
  background: #080808;
}