@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body{
  background: #080808;
}

nav{
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: #fff;
  background: #080808;
}

h1{
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: 2em;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
